html body {
    background-color:#303030;
  }



p {
  color:white
}


.row .col {
    background-color:#303030
    
}

  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo{ 
    height:50px;
    width:auto;
    margin-top:10px;
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.mainContainer {
  background-color:black;
  color:black;
}

.nav-tabs {
  background-color:black
}

#home {
  color:#303030;
  background:#303030;
}

#home {
  background:#303030;
  width: 800px;
  margin:auto;
  margin-top:35px;
}

.tab-pane {
  background-color:#303030; 
  height:100%;

}

.carousel-video-inner {
  text-align: center;
}