html body {
    background-color:rgb(125,125,125);
  }

.row .col {
    background-color:rgb(125,125,125);
    
}

  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo{ 
    height:50px;
    width:auto;
    margin-top:10px;
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}