html body {
    background-color:#303030;
  }



p {
  color:white
}


.row .col {
    background-color:#303030
    
}

 .card-img-top {
    width: 100%;
    height: auto;

}

.card-text {
  color:black;
}

.card-deck {
  width:100vw;
  padding:10px;
  display:flex
}

.logo{ 
    height:50px;
    width:auto;
    margin-top:10px;
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.mainContainer {
  background-color:black;
  color:black;
}

.nav-tabs {
  background-color:black
}

#home {
  color:#303030;
  background:#303030;
}

#home {
  background:#303030;
  width: 800px;
  margin:auto;
  margin-top:35px;
}

#messages {
  background:#303030;
  width: 800px;
  margin:auto;
  margin-top:35px;
}

.tab-pane {
  margin-top:20px;
  background-color:#303030; 
  height:100%;

}

.carousel-video-inner {
  text-align: center;
}



.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

#docDiv {
  width: 800px;
  height: 450px;
  margin:auto;
}

#page {
  width: 800px;
  height: 450px;

}